.list-container {
    display: grid;
    justify-content: center;
    align-items:center;
    grid-template-columns:auto auto auto;
    grid-gap:10px;
    width: auto;
    height: auto;
   
}

.list {
    
   
   
}

.list img {
   height:125px;
   width:85px;
}
.list-names {
    text-align: center;
}
.list-names a{
    text-decoration: none;
    color:black;
}
.list-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
.movies-container{
    display: flex;
    justify-content: center;
}
.movies-looks{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}