.list-container {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.list {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    grid-gap:10px;
}

.list img {
    width: 250px;
    height: auto;
}